$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$care-red: #e1252d;
$mi-blue: #74cede;
$my-gray: #ccc;

@import 'sass-bootstrap/lib/bootstrap';

@import 'fonts';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 41px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: $my-gray;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'rubikbold';

    &.page-title{
        font-size: 28px;
        color: $care-red;
        text-transform: uppercase;
        text-align: center;
        margin-top: 30px;

        &.inactive{
            color: #eeeeee;
        }
    }
}

.red{
    color: $care-red;
}

p{
}

ul {
    overflow: auto;
}

.inside-image{
    padding: 15px;
}

/* Custom page header */
.header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    background: #eeeeee;

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    &.splash{


        img{
            display: block;
            width: 100%;
            max-width: 200px;
            margin: 0 auto;
        }
    }

    img{
            display: block;
            width: 100%;
            max-width: 100px;
            margin: 0 auto;
        }

}

.dialogue{
    position: relative;
}

.avatar{

    border: 1px solid #ddd;
    max-width: 100px;
    margin: 0 auto 1em;

    img{
        max-width: 100%;
    }


}

.text {
    width: 65%;
    float: left;
    }

.bubble{
    position: relative;
    float: left;
    padding: 1em;
    border: 2px solid #ccc;
    border-radius: 10px;

    :after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: -50px;
        border-width: 15px 15px 0;
        border-style: solid;
        border-color: transparent #ccc;
        border-width: 10px 50px 10px 0;

    }
}

.slider.slider-horizontal {
    margin: 20px 10px;

    background: url(/images/dash2.png);
    background-size: 100%;
    max-width: 70%;
}

.container{
    background: #fff;
    padding: 10px 0px;
}

.credit{
    margin-top: 25px;
    p{
        font-size: 12px;
        color: #bbbbbb;
    }
}

footer{
    position: absolute;
    width: 100%;
    left: 0;
    padding-bottom: 40px;
}
/* Custom page footer */
.footer {
    margin-top: 10px;
    padding-top: 19px;
    padding-right: 0;
    padding-left: 0;
    color: #777;

    nav{
        .btn {
            border: 4px solid $care-red;
            background: $care-red;
            color: rgb(255, 255, 255);
            font-weight: bold;
            transition: padding .2s ease-out;

        &.prev{
            border-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            &:hover{
                padding-left: 25px;
            }
        }
        &.next{
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &:hover{
                padding-right: 25px;
            }
        }

        }
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.button-box{
    position: relative;
    z-index: 10;
}

.btn{
    border: 1px solid #ddd;

    &.btn-danger{
        border: 1px solid $care-red;
        background-color: $care-red;
    }
    &.btn-success{
        border: 1px solid #89cc6d;
        background-color: #89cc6d;
    }
}

/* Check Box List */
.list-group{
    overflow-y: hidden;
}

.list-group-item {

    transition: border .25s;

    >.checkbox {
        margin: 0;

        > label {
            padding: 10px;
            width: 100%;
            display: block;
        }
    }

    button{
        margin: 20px auto;
        padding: 10px 20px;
        &.desktop-hide{
            display: block;
            }
        }


    &.is-selected{
        background: $care-red;
        color: white;
    }

    &.highlighted{
        border-right: 6px solid $care-red;
    }
}

.concern-group hr {
    width: 50px;
    height: 5px;
    border: none;
    background: $care-red;
    margin-left: 0;
    position: relative;
}


.solution-group{

    .radio{

        background: #eee;
        border-radius: 6px;
        color: #888888;
        transition: border 0.25s;

        label{
            padding: 15px;
            display: inline-block;
        }


        &.selected, &.selected:hover{
            background: $care-red;

            label{
                color: white;
            }
        }

        &:hover{
            background: rgb(221, 221, 221);
        }
    }

    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
        display: none;
        float: none;
    }
}

/* Responsive Video */
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.concern-box{
    position: relative;

    .concern-icon {
        position: absolute;
        top: 0;
        right: 0;
        opacity: .2;
        height: 100%;
    }

    .response{
        position: relative;
    }

}

.mobile-hide{
        display: none;
    }

.desktop-hide{
        
    }

/********************************
 Animations
 *********************************/
.response {
  line-height: inherit;
  opacity: 1;
  padding: 10px;
  background: white;
  transition: all linear 0.2s;
  margin-top: 10px;
  outline: 1px solid #eee;
  display:block!important;
}

.response.ng-hide-add, .response.ng-hide-remove {

}

.response.ng-hide {
  line-height: 0;
  opacity: 0;
}

.slider-handle{
    background-color: #ef4136;
    background-image: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 480px) {
    .pull-left, .pull-right{
        &.inside-image{
            float: none!important;
            margin: 0 auto;
            max-width: 100%;
            display: block;
        }
    }


}

@media screen and (min-width: 768px) {


    body {
        font-size: 20px;
        padding-top: 90px;
    }

    .container {
        max-width: 760px;
        border-radius: 5px;
        padding: 2em;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;

        &.splash{
            position: relative;
            background: none;

            img{
                display: block;
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
            }
        }

    }

    .footer{
        margin-top: 40px;
    }

    h1, h2, h3, h4, h5, h6{

        &.page-title{
            font-size: 42px;
            text-align: left;

            &.active, &.inactive{
                display: inline-block;
            }
        }
    }

    .avatar{
        width: 30%;
        max-width: 200px;
        float: left;
        margin-right: 1em;
        margin-bottom: 0;

        border: 1px solid #ddd;

        img{
            max-width: 100%;
        }

    }



    .list-group-item {

        button{
            display: inline-block;
            padding: 10px 16px;
        }
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }


    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    .mobile-hide{
        // display: initial!important;
    }
    .desktop-hide{
        display: none!important;
    }
}
