<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
  <div class="avatar">
    <img src="/images/mydonation_avatar.png" alt="">
  </div>
  <p>{{question.text}}</p>
</div>

<form action="">
    <div class="form-group">
        <textarea type="text" class="form-control" rows="4" ng-model="question.response"></textarea>
    </div>
    
    <button type="submit" class="btn" ng-click="submitClick()">Submit</button>
</form>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>