<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MyDonation logo">
</header>

<p class="text-center"><strong>Thank you for visiting the MyDonation website.</strong> <br>Your responses have been submitted.</p>

<p class="text-center">Copyright © Christopher R. France, 2018</p>

<p class="text-center">Reproduction is prohibited without permission.</p>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="true"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>

  </nav>
</footer>