<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>

<div class="dialogue clearfix well">
  <div class="avatar">
    <img src="/images/mydonation_avatar.png" alt="">
  </div>


<!-- reflection 1 -->
<span ng-show="(questions[2].options[0].selected || questions[2].options[1].selected || questions[2].options[7].selected) && !( (questions[2].options[2].selected || questions[2].options[3].selected || questions[2].options[4].selected || questions[2].options[5].selected) || (questions[2].options[6].selected || questions[2].options[8].selected || questions[2].options[9].selected) )"><p>Great! It sounds like you are clearly aware of the importance of donating blood.</p></span>
<!-- reflection 2 -->
<span ng-show="(questions[2].options[3].selected || questions[2].options[4].selected || questions[2].options[5].selected || questions[2].options[9].selected)   &&   !(questions[2].options[0].selected || questions[2].options[1].selected || questions[2].options[2].selected || questions[2].options[6].selected || questions[2].options[7].selected || questions[2].options[8].selected)"><p>Great! It sounds like you have a personal reason to donate.</p></span>
<!-- reflection 3 -->
<span ng-show="(questions[2].options[2].selected || questions[2].options[6].selected || questions[2].options[8].selected) || (questions[2].options[0].selected || questions[2].options[1].selected || questions[2].options[7].selected) && (questions[2].options[3].selected || questions[2].options[4].selected || questions[2].options[5].selected || questions[2].options[9].selected)"><p>Great! It sounds like you are clearly aware of the importance of donating blood and have a personal reason to donate.</p></span>

</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>