<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>

<div class="dialogue clearfix well">
	<div class="avatar">
    	<img src="/images/mydonation_avatar.png" alt="">
	</div>
	<div ng-show="questions[7].value > 7">
		<!-- 3a -->
		<p>Your rating of {{questions[7].value}} suggests that donating blood is very important to you. What makes it so important for you?</p>
		
	</div>

	<div ng-show="(questions[7].value >= 4 && questions[7].value <= 7)">
		<!-- 3b -->
		<p>Your rating of {{questions[7].value}} suggests that donating blood is moderately important to you. Why did you rate your importance as {{questions[7].value}} and not something lower, like {{questions[7].value - 2}}?</p>
	</div>

	<div ng-show="questions[7].value < 4">
		<!-- 3d -->
		<p>Your rating of {{questions[7].value}} suggests that donating blood is not very important to you. What would it take to get you to a {{questions[7].value + 2}} in terms of importance?</p>
	</div>
</div>

<form action="">
    <div class="form-group">
        <textarea type="text" class="form-control" rows="4" ng-model="theResponse" ng-change="canContinueUpdate()"></textarea>
    </div>
    
</form>

<div class="alert alert-danger alert-dismissible" role="alert" ng-show="nextDisabled">
    <p>Please respond before continuing.</p>
</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="submitClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>