<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
  <div class="avatar">
    <img src="/images/mydonation_avatar.png" alt="">
  </div>
  <p>What would it take to get you to a {{questions[12].value + 2}} in terms of confidence?</p>
</div>

<form action="">
    <div class="form-group">
        <textarea type="text" class="form-control" rows="4" ng-model="theResponse" ng-change="canContinueUpdate()"></textarea>
    </div>
    <!-- <button type="submit" class="btn" ng-click="submitClick()">Submit</button> -->
</form>

<div class="alert alert-danger alert-dismissible" role="alert" ng-show="nextDisabled">
    <p>Please respond before continuing.</p>
</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="submitClick()" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>