<header class="header">
<img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>

<div class="dialogue clearfix well">
  <div class="avatar">
      <img src="/images/mydonation_avatar.png" alt="">
  </div>
  <p>Do you have any of the following concerns about donating?</p> 
  <small>(Choose all that apply)</small>
</div>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="option in question.options" ng-class="{highlighted : (option.selected === null && nextDisabled)}">
        <div >
           <p>
              <button class="btn btn-lg" ng-click="solutionClick( $index)" ng-class="{'btn-danger': option.selected}"><i class="glyphicon glyphicon-ok"></i></button> 
              {{option.text}}
            </p>

        </div>
    </li>
</ul>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>