<header class="header">
	<img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
	<div class="avatar">
    	<img src="/images/mydonation_avatar.png" alt="">
	</div>
	<p>Whether you have concerns or not, there are simple ways to prepare yourself for a positive donation experience.  Please watch this brief video for more information.</p> 
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YuwY4e0CGbY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>


<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>
