
<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>

<div class="dialogue clearfix well">
	<div class="avatar">
    	<img src="/images/mydonation_avatar.png" alt="">
	</div>
	<div class="">
	<strong>To summarize what we have discussed today:</strong>
		<!-- reflection 1 -->
	<span ng-show="(questions[2].options[0].selected || questions[2].options[1].selected || questions[2].options[2].selected || questions[2].options[4].selected) && !( (questions[2].options[3].selected || questions[2].options[5].selected || questions[2].options[6].selected || questions[2].options[7].selected) || (questions[2].options[8].selected || questions[2].options[9].selected) )"><p>You are clearly aware of the importance of donating blood.</p></span>
	<!-- reflection 2 -->
	<span ng-show="(questions[2].options[3].selected || questions[2].options[5].selected || questions[2].options[6].selected || questions[2].options[7].selected) && !( (questions[2].options[0].selected || questions[2].options[1].selected || questions[2].options[2].selected || questions[2].options[4].selected) || (questions[2].options[8].selected || questions[2].options[9].selected) )"><p>You have a personal reason to donate.</p></span>
	<!-- reflection 3 -->
	<span ng-show="(questions[2].options[8].selected || questions[2].options[9].selected) || ( (questions[2].options[0].selected || questions[2].options[1].selected || questions[2].options[2].selected || questions[2].options[4].selected) && (questions[2].options[3].selected || questions[2].options[5].selected || questions[2].options[6].selected || questions[2].options[7].selected) )"><p>You are clearly aware of the importance of donating blood and have a personal reason to donate.</p></span>

	<div ng-show="questions[17].options[0].selected || questions[17].options[1].selected || questions[17].options[2].selected || questions[17].options[3].selected || questions[17].options[4].selected || questions[17].options[5].selected">
		<p>You expressed concerns about:</p>
		<ul>
			<li ng-show="option.selected" ng-repeat="option in questions[17].options">{{option.text}}</li>
		</ul>
	</div>

	<div ng-show="(!questions[17].options[0].selected && !questions[17].options[1].selected && !questions[17].options[2].selected && !questions[17].options[3].selected && !questions[17].options[4].selected && !questions[17].options[5].selected)">
		<p>You have no concerns about donating blood.</p>

	</div>
		Is this correct?
	</div>
</div>
<div class="alert alert-danger alert-dismissible" role="alert" ng-show="nextDisabled">
	    <p>Please respond before continuing.</p>
	</div>
<div style=" padding: 1em;
    text-align: center;">
    <button class="btn btn-lg" ng-click="solutionClick(true)" ng-class="{'btn-success': solution.selected === true}">Yes</button>
    <button class="btn btn-lg" ng-click="solutionClick(false)" ng-class="{'btn-danger': (solution.selected === false)}">No</button>
</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>