<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
	<div class="avatar">
    	<img src="/images/mydonation_avatar.png" alt="">
	</div>

	<p>I'm sorry. Can you please clarify for me what was incorrect so that I may better understand your reasons for giving blood and your concerns?</p>
</div>
<form action="">
    <div class="form-group">
        <textarea type="text" name="input" class="form-control" rows="4" ng-model="theResponse" ng-change="canContinueUpdate()"></textarea>
    </div>
    
</form>

<div class="alert alert-danger alert-dismissible" role="alert" ng-show="nextDisabled">
    <p>Please respond before continuing.</p>
</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="submitClick()" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>