<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>
<a href="/welcome/#/manage" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> donor list</a>

<h3>Location Management</h3>

<form class="well" ng-show="addingNew">
  <h3>New Location</h3>
  <div class="form-group" >
    <label for="newLocation">Name</label>
    <input type="text" class="form-control" id="newDonor" placeholder="MiDonation" ng-model="newLocationName">
    <label for="locations">URL</label>
    <input type="text" class="form-control" id="newDonor" placeholder="midonation.org" ng-model="newLocationUrl">
  </div>

  <button type="submit" class="btn btn-default" ng-click="addLocation(newLocationName, newLocationUrl)">Submit</button>
  <button type="submit" class="btn btn-default" ng-click="addingNew = false">Cancel</button>
</form>

<button class="btn" ng-show="!addingNew" ng-click="addingNew = true">Add New Location <span class="small  glyphicon glyphicon-plus" ></span> </button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Location Name</th>
            <th>Location URL</th>
            <th></th>
        </tr>
        
    </thead>
    <tr ng-repeat="location in locations">
        <td>{{location.name}}</td>
        <td>{{location.url}}</td>
        <td><button class="btn btn-danger pull-right ng-scope" ng-click="deleteClick(location.id)"><i class="glyphicon glyphicon-trash"></i></button></td>
      </tr>
</table>