<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>

<h3>Donor Management</h3>

<form class="well">
    <div class="form-group">
        <label for="donorId">Login:</label>
        <input type="text" id="donorId" class="form-control" placeholder="" ng-model="manageUser" ng-change="logInFailed = false" ng-disabled="manageLoggedIn">
        <label for="donorId">Pass:</label>
        <input type="password" id="donorId" class="form-control" placeholder="" ng-model="managePass" ng-change="logInFailed = false" ng-disabled="manageLoggedIn">
    </div>
    <button type="submit" class="btn btn-default" ng-click="submitClick()">Submit</button>
</form>

<div class="alert alert-danger alert-dismissible" role="alert" ng-show="nextDisabled">
    <p>Please sign in with your Manage ID.</p>
</div>

<div class="alert alert-success" role="alert" ng-show="manageLoggedIn">
    <p>Logged in.</p>
</div>

