<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>

<h3>Donor Management</h3>

<div class="alert alert-warning" ng-show="warningText"><p>{{warningText}}</p></div>

<form class="well" ng-show="addingNew">
  <div class="form-group" >
    <label for="newDonor">New Donor ID</label>
    <input type="number" class="form-control" id="newDonor" placeholder="12345678" ng-model="newID">

  </div>

  <button type="submit" class="btn btn-default" ng-click="addDonorID(newID, theLocation.id)">Submit</button>
  <button type="submit" class="btn btn-default" ng-click="addingNew = false">Cancel</button>
</form>

<form class="form-inline">
  <div class="form-group">
    <input type="search" ng-model="q" class="form-control" placeholder="Search" />
   </div>
  <div class="form-group pull-right">
     <a class="btn btn-default" href="/api/tocsv.php" ><span class="
small  glyphicon glyphicon-file" ></span> Export CSV file</a>

    <button class="btn btn-default" ng-click="addingNew = true" ng-show="!addingNew"><span class="
small  glyphicon glyphicon-plus" ></span> Add new Donor ID</button>

  </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th><a href=""  ng-click="orderChange('donor_id')">Donor ID # <span class="
small text-muted glyphicon glyphicon-chevron-up" ng-show="orderBy == 'donor_id'"></span><span class="
small text-muted glyphicon glyphicon-chevron-down" ng-show="orderBy == '-donor_id'"></span></a></th>
            <th><a href="" ng-click="orderChange('date_added')">Date Added <span class="
small text-muted glyphicon glyphicon-chevron-up" ng-show="orderBy == 'date_added'"></span><span class="
small text-muted glyphicon glyphicon-chevron-down" ng-show="orderBy == '-date_added'"></span></a></th>
<th><a href="" ng-click="orderChange('completed')">Complete <span class="small text-muted glyphicon glyphicon-chevron-up" ng-show="orderBy == 'completed'"></span><span class="
small text-muted glyphicon glyphicon-chevron-down" ng-show="orderBy == '-completed'"></span></a></th>
        </tr>

    </thead>
    <tr ng-repeat="donorID in donorIDs | orderBy: orderBy | filter:q">
        <td><a href="/#/manage/id/{{donorID.donor_id}}" class="small">{{donorID.donor_id}}</a></td>
        <td><span class="small">{{donorID.date_added}}</span></td>
        <td><span class="small"><i class="glyphicon glyphicon-ok" ng-show="donorID.completed"></i></span></td>
    </tr>
</table>

<!-- <a href="/#/locations" class="btn btn-default"><i class="glyphicon"></i>Manage Locations</a> -->
