<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
  <div class="avatar">
    <img src="/images/mydonation_avatar.png" alt="">
  </div>
  <p>{{question.text}}</p>
  <small>(choose all that apply)</small>
</div>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="option in question.options" ng-class="{highlighted : (option.selected === null && nextDisabled)}">
        <div >
          <p>
            <button class="btn btn-lg mobile-hide" ng-click="solutionClick( $index)" ng-class="{'btn-success': option.selected}"><i class="glyphicon" ng-class="{'glyphicon-ok': option.selected}"></i></button>
            {{option.text}}
            <button class="btn btn-lg desktop-hide" ng-click="solutionClick( $index)" ng-class="{'btn-success': option.selected}"><i class="glyphicon" ng-class="{'glyphicon-ok': option.selected}"></i></button>
          </p>
        </div>
    </li>
    <li class="list-group-item" ng-class="{highlighted : (option.selected === null && nextDisabled)}" ng-show="question.hasNoneOfTheAbove">
        <div >
          <p>
            <button class="btn btn-lg mobile-hide" ng-click="noneClick()" ng-class="{'btn-success': noneOfTheAbove}"><i class="glyphicon " ng-class="{'glyphicon-ok': noneOfTheAbove}"></i></button>
            None of the above
            <button class="btn btn-lg desktop-hide" ng-click="noneClick()" ng-class="{'btn-success': noneOfTheAbove}"><i class="glyphicon " ng-class="{'glyphicon-ok': noneOfTheAbove}"></i></button>
          </p>
        </div>
    </li>
</ul>

<div class="alert alert-danger alert-dismissible" role="alert" ng-show="nextDisabled">
      <p>Please respond before continuing.</p>
  </div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>