<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>

<div class="dialogue clearfix well">
  <div class="avatar">
    <img src="/images/mydonation_avatar.png" alt="">
  </div>
<p>{{question.text}}</p>
</div>

<div class="well" style="text-align: center">
	<div class="row">
	  <div class="col-md-6 col-sm-6 col-xs-6"><p ><strong >Not At All</strong></p></div>
	  <div class="col-md-6 col-sm-6 col-xs-6"><p > <strong>Extremely</strong></p></div>
	</div>

	<span class="text-left">0</span><input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" /> <span class="text-right">10</span>
</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>

