<header class="header">
    <img class="logo" src="/images/mydonation_logo.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
  <div class="avatar">
      <img src="/images/mydonation_avatar.png" alt="">
  </div>

  <p ng-bind-html="question.concerns[concernsSelected[currentConcernIndex]].text" ng-show="concernsSelected.length > 0" ></p>

  <div ng-show="concernsSelected.length === 0">
    <p>Are you sure you have no concerns?</p>
    <a ng-click="returnClick()" class="btn btn-default">I have concerns</a>
    <a ng-click="continueClick()" class="btn btn-default">I have no concerns</a>
  </div>

</div>



<ul ng-show="concernsSelected.length > 0" class="list-group">
    <li class="list-group-item" ng-repeat="option in question.concerns[concernsSelected[currentConcernIndex]].options" ng-class="{highlighted : (option.selected === null && nextDisabled)}">
        <div >
          <p><span ng-bind-html="option.text"></span><span ng-show="option.location"> <a href="http://{{theLocation.url}}" target="_blank">{{theLocation.name}}</a></span></p>


            <button class="btn btn-lg" ng-click="solutionClick($index, true)" ng-class="{'btn-success': option.selected}">Yes</button>
            <button class="btn btn-lg" ng-click="solutionClick($index, false)" ng-class="{'btn-danger': (option.selected === false)}">No</button>
        </div>
    </li>
</ul>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>